numba
numpy==1.23.4
torch==1.10.1
tqdm
more-itertools
tiktoken
triton>=2.0.0;platform_machine=="x86_64" and sys_platform=="linux" or sys_platform=="linux2"
pyaudio==0.2.14
spacy==3.1.7
spacy-transformers==1.1.7
opencv-python==4.10.0.84


